<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en-us" }}">
<head>
	<meta charset="UTF-8">
	{{ with .Site.Params.description }}<meta name="description" content="{{ . }}">{{ end }}
	{{ with .Site.Params.keywords }}<meta name="keywords" content="{{ . }}">{{ end }}
    <meta name="viewport" content="width=device-width,initial-scale=1" />

	<title>{{ .Title }}</title>

    <link rel="shortcut icon" href="{{ "img/keepcalm.png" | relURL }}" />
    <link rel="icon" href="{{ "img/keepcalm.png" | relURL }}" type="image/x-icon" />

    <link rel="stylesheet" type="text/css" href="{{ "highlight/tomorrow.css" | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ "fonts.css" | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ "style.css" | relURL }}" />
    <link rel="stylesheet" type="text/css" href="{{ "responsive.css" | relURL }}" />

	{{ with .OutputFormats.Get "RSS" -}}
		{{ printf `<link rel="%s" type="%s" href="%s" title="%s">` .Rel .MediaType.Type .RelPermalink $.Site.Title | safeHTML }}
	{{- end }}
</head>
<body>
	{{ partial "sidebar" . }}

    {{ block "mast" . }}
        <section id="mast" class="small"></section>
    {{ end }}

    <section id="content">
		{{ block "main" . }}{{ end }}
	</section>

    <script type="text/javascript" src="{{ "highlight/highlight.pack.js" | relURL }}"></script>
    <script type="text/javascript">hljs.initHighlightingOnLoad();</script>
</body>
</html>
