{{#posts}}
    <div class="post">
        <h2><a href="{{{url}}}/{{{config.posts_dir}}}/{{{link}}}">
            {{title}}
            <span class="meta">{{#format_date}}{{time}}{{/format_date}}</span>
        </a></h2>
    </div>
{{/posts}}
