<section id="sidebar">
    <div id="titlenav">
        <h4><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h4>
    	<nav>
            {{ $currentPage := . }}
    		{{ with .Site.Menus.main }}
    			{{ range . }}
    				<li class="{{ if $currentPage.IsMenuCurrent .Menu . }}active{{ end }} {{.Params.color }}"><a href="{{ .URL | relURL }}">{{ .Name }}</a></li>
    			{{ end }}
    		{{ end }}
    	</nav>
    </div>

    <footer>
        <img src="{{ "img/keepcalm.png" | relURL }}" />
        Generated {{ if and .IsPage .GitInfo (ne .Page.Title "Archive") }}{{ .GitInfo.AuthorDate.Format "Jan 02" }}{{ else }}{{ now.Format "Jan 02" }}{{ end }}<br />
        Est. 2006 &middot; By <a href="https://fizzadar.com">Fizzadar</a><br />
    </footer>
</section>
