{{ define "mast" }}
    {{ $done := false }}
    {{ range $year := (sort (readDir "static/masts/home") "Name" "desc") }}
        {{ range $month := (slice "December" "November" "October" "September" "August" "July" "June" "May" "April" "March" "February" "January") }}
            {{ $filename := printf "masts/home/%s/%s.jpg" $year.Name $month }}
            {{ if fileExists (printf "static/%s" $filename) }}
                <section id="mast" style="background-image: url('{{ $filename | relURL }}');">
                </section>
                {{ $done = true }}
                {{ break }}
            {{ end }}
        {{ end }}
        {{ if $done }}{{ break }}{{ end }}
    {{ end }}
{{ end }}

{{ define "main" }}
    {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
        {{ .Render "post-link" }}
    {{ end }}
    <div class="post"><h2>
        <a class="right" href="{{ ref . "pages/archive.md" }}">All the ramblings &rarr;</a>
    </h2></div>
{{ end }}
