{{ define "head" }}
    <link rel="me" href="https://github.com/Fizzadar" />
{{ end }}

{{ define "mast" }}
    <section id="mast" class="home"></section>
{{ end }}

{{ define "main" }}
    <div class="post intro">
        <p>Welcome to <a href="{{ ref . "info" }}">my slice</a> of the internet</p>
    </div>

    <div class="post">
        <h3>Recent Ramblings</h3>
        {{ range first 5 (where .Site.RegularPages "Section" "posts") }}
            {{ .Render "post-link" }}
        {{ end }}
        <div class="post"><h2>
            <a class="right" href="{{ ref . "ramble" }}">All ramblings &rarr;</a>
        </h2></div>
    </div>
{{ end }}
