@media (min-width: 1500px) {
    section#sidebar {
        padding-left: 130px;
        padding-right: 130px;
        width: 540px;
    }

    section#sidebar h4 {
        margin-left: -130px;
        margin-right: -130px;
    }
    section#sidebar h4 a {
        padding-left: 130px;
        padding-right: 130px;
    }

    section#mast, section#content {
        margin-left: 540px;
    }

    section#mast.small {
        background-size: 100% auto;
    }
}

@media (min-width: 2000px) {
    section#sidebar {
        padding-left: 430px;
        padding-right: 130px;
        width: 840px;
    }

    section#sidebar h4 {
        margin-left: -430px;
        margin-right: -130px;
    }
    section#sidebar h4 a {
        padding-left: 430px;
        padding-right: 130px;
    }

    section#mast, section#content {
        margin-left: 840px;
    }

    section#mast.small {
        background-size: 100% auto;
    }
}

@media (max-width: 768px) {
    section#sidebar {
        position: relative;
        width: 100%;
        padding-bottom: 0;
        border-right: 0;
    }
    section#sidebar h4 {
        font-size: 40px;
    }
    section#sidebar h4 a {
        padding: 10px 30px;
        height: auto;
        text-align: left;
    }

    nav {
        display: none;
    }

    div.post h3 {
        margin-top: 30px;
    }

    div.post h1.single, div.post h1.single.page {
        margin-top: 20px;
        margin-bottom: 0px;
        padding: 10px 30px;
    }

    div.post.intro p {
        width: 100%;
        background: var(--color-blue);
        border-width: 2px 0 2px 0;
        margin-top: -2px;
        margin-bottom: 0;
    }

    footer {
        display: none;
    }

    section#content {
        margin-left: 0;
    }

    section#mast {
        margin-left: 0;
        height: 0;
        border-bottom: 0;
    }

    div.post h1 a:hover, div.post h2 a:hover {
        border-left-width: 0;
    }

    div.work {
        width: 100%;
    }

    img.headshot {
        max-height: 200px;
    }

    div.username-links {
        margin: 0 5px;

        a {
            text-align: center;
        }
    }
}

@media (max-width: 768px) and (prefers-color-scheme: light) {
    div.post h1 {
        color: #333;
    }
    div.post h1 span.meta {
        color: #888;
    }
    div.post h1 span.meta date {
        color: #333;
    }
}

@media (max-width: 768px) and (prefers-color-scheme: dark) {
    div.post.intro p {
        background: var(--color-blue-dark);
    }
}
