@media all and (min-width: 1500px) {
    section#sidebar {
        padding-left: 130px;
        padding-right: 130px;
        width: 540px;
    }

    section#sidebar h4 {
        margin-left: -130px;
        margin-right: -130px;
    }
    section#sidebar h4 a {
        padding-left: 130px;
        padding-right: 130px;
    }

    section#mast, section#content {
        margin-left: 540px;
    }

    section#mast.small {
        background-size: 100% auto;
    }
}

@media all and (min-width: 2000px) {
    section#sidebar {
        padding-left: 430px;
        padding-right: 130px;
        width: 840px;
    }

    section#sidebar h4 {
        margin-left: -430px;
        margin-right: -130px;
    }
    section#sidebar h4 a {
        padding-left: 430px;
        padding-right: 130px;
    }

    section#mast, section#content {
        margin-left: 840px;
    }

    section#mast.small {
        background-size: 100% auto;
    }
}

@media all and (max-width: 768px) {
    section#sidebar {
        position: relative;
        width: 100%;
        padding-bottom: 0;
    }
    section#sidebar h4 {
        font-size: 40px;
    }
    section#sidebar h4 a {
        padding: 10px 30px;
    }

    nav {
        margin: 0 0 0 -10px;
        display: flex;
        flex-wrap: wrap;
    }
    nav.home {
        float: left;
    }
    nav.home li {
        float: left;
    }
    nav li {
        width: auto;
        display: flex;
    }
    nav a {
        clear: none;
    }
    nav a:hover {
        padding-right: 10px;
    }

    footer {
        display: none;
    }

    section#content {
        margin-left: 0;
    }

    section#mast {
        margin-left: 0;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background: #181A1B;
        color: #C7C3BD;
    }

    a {
        text-decoration-color: #111213;
    }
    a:hover {
        text-decoration-color: #111111;
        color: #E8E6E3;
    }

    section#sidebar, section#mast {
        background: #1D1F20;
    }

    section#sidebar h4  {
        background: #AD0C56;
    }
    section#sidebar h4 a:hover {
        background: #303234;
        color:  #E8E6E3;
    }

    nav a {
        background: #181A1B;
        color: #C7C3BD;
    }

    div.post h1 a, div.post h2 a {
        border-color: #333639;
    }
    div.post h1 a:hover, div.post h2 a:hover {
        color: #E8E6E3;
    }

}
