<div class="post">
    {{#single}}
        <h2 class="active">{{post.title}}</h2>
    {{/single}}{{^single}}
        <h2><a href="{{{url}}}/{{{config.posts_dir}}}/{{{post.link}}}">{{post.title}}</a></h2>
    {{/single}}

    <span class="meta">{{#format_date}}{{post.time}}{{/format_date}}</span>

    {{#post.excerpt}}
        {{^single}}
            {{{post.excerpt}}}
            <a href="{{{url}}}/{{{config.posts_dir}}}/{{{post.link}}}#more">Read more &rarr;</a>
        {{/single}}{{#single}}
            {{{post.content}}}
        {{/single}}
    {{/post.excerpt}}

    {{^post.excerpt}}
        {{{post.content}}}
    {{/post.excerpt}}
</div>
