/* trocchi-regular - latin */
@font-face {
  font-family: 'Trocchi';
  font-style: normal;
  font-weight: 400;
  src: url('./trocchi-v4-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Trocchi'),
       url('./trocchi-v4-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./trocchi-v4-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./trocchi-v4-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./trocchi-v4-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./trocchi-v4-latin-regular.svg#Trocchi') format('svg'); /* Legacy iOS */
}
